{% extends "::base.html.twig" %}

{% block title %}AppBundle:Currency:showAllCurrencies{% endblock %}

{% block body %}
    <h1>Lista dostępnych walut wraz z kodem waluty</h1>

    <h3>Pobrano kursy walut</h3>

    <table class="table table-hover d-flex">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Waluta</th>
            <th scope="col">Kod</th>
            <th scope="col"></th>
        </tr>

        {% for key, val in currencies %}

            <tr>
                <th scope="col"> {{ key + 1}} </th>

                {% for item, param in val %}


                   <hr> {{ item }} -> {{ param }}<hr>
                {% endfor %}

            </tr>

        {% endfor %}

    </table>

{% endblock %}
